.image {
    width: 240px; /* Sesuaikan lebar gambar dengan kebutuhan Anda */
    height: 240px; /* Sesuaikan tinggi gambar dengan kebutuhan Anda */
    border-radius: 50%; /* Membuat foto menjadi lingkaran */
    overflow: hidden; /* Menghindari gambar yang melampaui batas lingkaran */
    border: 5px solid #ddd;
}

.blockRiwayat {
    width: 100%;
}

.skills {
    max-width: 40%;
}

.text-ellipsis {
    white-space: normal;
    overflow: scroll;
    text-overflow: ellipsis;
    visibility: hidden;
    cursor: pointer; /* Kursor akan berubah saat mouse di atas teks */
}

.text-ellipsis:hover {
    white-space: normal;
    overflow: scroll;
    text-overflow: ellipsis;
    visibility:collapse ;
    cursor: pointer; /* Kursor akan berubah saat mouse di atas teks */
}

.tittleRewards:hover {
    padding: 1rem;
    cursor: pointer;
    background-color: #daedfc;
}

.tittleRewardsClick {
    padding: 1rem;
    cursor: pointer;
    background-color: #daedfc;
    box-shadow: 0 0 10px #0070C0;
}
.Medsos:hover {
    padding: 1rem;
    cursor: pointer;
}
.boldReward {
    font-weight: bold;
}
.linkMedsos{
    color: black;
    text-decoration: none;
}
// .row .card_skills :hover{
//     background-color: #00a6fb;
// }
@media only screen and (max-width: 768px) {
    .skills {
        max-width: 100%;
    }
    .tittleRewards {
        margin-top: 1rem;
    }

    .image {
        max-width: 240px; /* Sesuaikan lebar gambar dengan kebutuhan Anda */
        height: 240px; /* Sesuaikan tinggi gambar dengan kebutuhan Anda */
        border-radius: 50%; /* Membuat foto menjadi lingkaran */
        overflow: hidden; /* Menghindari gambar yang melampaui batas lingkaran */
        border: 5px solid #ddd;
    }
}