@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

.projectFont {
    font-family: 'Poppins', 'sans-serif';
}

.buttonProject :hover{
    background-color: white;
}

.detailContent{
    display: flex;
    align-items: center;
}

// .cardDesc{
//     max-width: 90%;
// }

.posisiData {
    padding: 0px;
    text-align: left;
}

.imgCard{
    width: 150px;
    height: 150px;
    margin-top: 2rem;
}

.descProject:hover{
    cursor: pointer;
    background-color: #daedfc;
}

.dipilih{
    background-color: #daedfc;
    box-shadow: 0 0 10px #0070C0;
}

.posisi {
    font-size: 18px;
}

// .cardProject {
//     // width: 50%;
// }

// .rowProject{
//     // max-width: 40%;
// }