/* #root {
  text-align: center;
} */

#rooting {
  text-align: center;
}
.sideBar {
  min-height: 100vh;
  position: fixed;
}
.outlet {
  max-height: 100vh;
  overflow-y: auto;
}

.iconNav {
  padding: 12px;
  color: white;
  text-align: center;
}