/* #root {
  text-align: center;
} */

#rooting {
  text-align: center;
}
.sideBar {
  min-height: 100vh;
  position: fixed;
}
.outlet {
  max-height: 100vh;
  overflow-y: auto;
}

.iconNav {
  padding: 12px;
  color: white;
  text-align: center;
}

.linkMenu {
  text-decoration: none;
}

.dashboardContent {
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
}

.actionCol {
  width: 500px;
}

.logoDas {
  max-width: 40px;
}

#logout {
  position: absolute;
  top: 93%;
  margin-left: 10px;
  background-color: white;
  border: white;
  color: black;
}

@media only screen and (max-width: 768px) {
  .row .col-8{
    max-height: 40%;
    width: 100%;
  }

  .row{
    width: 100%;
  }

  .dashboardContent {
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 0;
    width: 100%;
  }
}